@use "./variable" as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: "Poppins", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: $primary;
}

main{
    padding-top: 10vh;
    height: 100%;
    width: 100%;
}